.c-stage {
  position: relative;
  display: block;
  margin: 0 0 2rem;
  padding: 0;
  text-align: center;

  background-color: #000;
  color: #eee;

  @include clearfix();

  &_loader {
    padding: 5rem 0;
    font-size: 2rem;
    font-weight: 100;
  }
}
